@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body,html{margin:0px;}

#global {width:100%; margin: 0px; padding: 0px; background-color:black;}

	#contenido {width: 1280px; margin:0 auto;  height: auto; }

		#cabeceraglobal { float:left; width:100%; height: 125px; background-color:darkblue; margin-top: 2px}
			#titulo {float:left; margin: 40px 60px; color:white}
		
		#menu { float: left; background-color: #efede6; color:black; width: 100%; height: 40px;}
			#menuleft { float:left; width:50%; height: 100%;}
				#search {float:left; width:70%; height: 70%; margin-left: 2px}
				#search form { border: 3px solid #efede6; }
				#search input[type=text], input[type=password] { width: 40%; padding: 8px 20px; margin: 2px 0; display: inline-block; border: 1px solid #ccc;
																		box-sizing: border-box; border-radius: 8px; }	
				#search button { background-color: darkblue; color: white; padding: 8px 10px; border: none; cursor: pointer; width: 15%; border-radius: 4px; }
				#search button:hover { opacity: 0.8; }
			
			
			#menuright { float:left; width: 50%; height: 100%; }
				#menurighterror{float:left; width: 30%; height: 70%; color:red; font-size:80%; margin: 13px 2px 0px 50px}
				#menurightbienvenido{float:right; margin: 13px}
				#loginform { float:right; width: 60%; height: 70%; margin-right: 2px}
				#loginform form { border: 3px solid #efede6; }
				#loginform input[type=text], input[type=password] { width: 40%; padding: 8px 20px; margin: 2px 0; display: inline-block; border: 1px solid #ccc;
																		box-sizing: border-box; border-radius: 8px; }	
				#loginform button { background-color: darkblue; color: white; padding: 8px 10px; border: none; cursor: pointer; width: 15%; border-radius: 4px; }
				#loginform button:hover { opacity: 0.8; }

				

		#submenu {float: left; width: 100%; height: 10px; background-color:#fafaf7}

		#centro {float:left; width: 100%; min-height: 1070px; height: auto; background-color: #FAFAFA; margin-top: 0px;}
			#navbar {float:left; width: 20%; height: 1100px; background-color: #efede6}
			#nav1{float:left; width: 100%; height: 141px; }
			#navbar	ul { list-style-type: none; margin: 0; padding: 0; width: 100%; background-color: #9F9E99; border: 1px solid #9F9e99; }
			#navbar ul li a { display: block; color: #000; padding: 8px 16px; text-decoration: none;}
			#navbar ul li { text-align: center; border-bottom: 1px solid #555; }
			#navbar ul li:last-child { border-bottom: none; }
			#navbar ul li a.active { background-color: darkblue; color: white; }
			#navbar ul li a:hover:not(.active) { background-color: #555; color: white; }

			.mainmenu, .submenu { list-style: none; padding: 0; margin: 0; }
			.mainmenu a { display: block; background-color: #CCC; text-decoration: none; padding: 10px; color: #000; }
			.mainmenu a:hover { background-color: #C5C5C5;}
			.mainmenu li:hover .submenu {display: block; max-height: 200px;}
			.submenu a { background-color: #999; }
			.submenu a:hover { background-color: #666; }
			.submenu { overflow: hidden; max-height: 0; -webkit-transition: all 0.5s ease-out;}

			#espacio{float: left; width: 100%; height: 30px; background-color:#efede6;}

			#centro2 {float:left; width: 80%; height:100%; background-color:#FAFAFA}
				#centro_header{float:left; width: 96%; height: 50px; margin-left: 2%; background-color:#efede6}
					#centro_header > h3{float:left; margin:15px 0px 0px 20px}
					.errorlabel{color:red; font-size: 90%}

				#centro_content{float:left; width: 96%; min-height: 1041px; height: 80%; margin: 1% 0px 40px 2%; background-color:#efede6}
					#ficha_miembro{float: left; width:99%; height: 21%; margin: 10px 0px 0px 4px; background-color:white}
						#foto_miembro{float:left; width:15%; height:50%; margin: 10px 20px}
						#info_miembro{float:left; width:75%; height: 100%; background-color: white}
							#info_miembro ul { padding: 0px; }
							#info_miembro ul li { background: #cce5ff; margin: 5px; border-bottom: 1px solid black; background-color:white; list-style-type: none; font-size: 85%}
							#info_miembro_label{color: blue}
							#info_miembro ul li span{color: black}

					#containerRegistro{float:left; width: 80%; height: 96%; margin:5px 0px 0px 10%; border-radius: 5px; padding: 20px;}
					#containerRegistro input[type=text], select { width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;
																	border-radius: 4px; box-sizing: border-box;}
					#containerRegistro input[type=password], select { width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;
																	border-radius: 4px; box-sizing: border-box;}

					#containerRegistro input[type=submit] { width: 100%; background-color: darkblue;color: white; padding: 14px 20px; margin: 8px 0; border: none;
															border-radius: 4px; cursor: pointer;}

					#containerRegistro input[type=submit]:hover { background-color: #3152BC;}


					#mgusuariosta { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; border-collapse: collapse; width: 100%; font-size:60% }
					#mgusuariosta td, #mgusuariosta th { border: 1px solid #4E0DE7; padding: 8px;}
					#mgusuariosta tr:nth-child(even){background-color: #f2f2f2;}
					#mgusuariosta tr:hover {background-color: #ddd;}
					#mgusuariosta th {	padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: darkblue; color: white; }

					#center { text-align: center; }
					#pagination { margin-top:10%; list-style: none; display: inline-block; }
					#pagination li{ float:left; }
					#pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none; border: 1px solid #ddd; margin: 0 4px;}
					.active a { background-color: darkblue; color: white; border: 1px solid #4CAF50; }




					#btnDelete{ background-color: red; border: none; color: white; padding: 7px 17px; text-align: center; text-decoration: none; display: inline-block; font-size: 11px; margin: 2px 1px; cursor: pointer; border-radius: 4px; }
					#btnEditar{ background-color: #4CAF50; border: none; color: white; padding: 7px 19px; text-align: center; text-decoration: none; display: inline-block;
								font-size: 11px; margin: 2px 1px; padding-right: 25px; cursor: pointer; border-radius: 4px;}
					
					#backup_content{float:left; width: 100%; height: 60px;margin-top:20px}
					#backup_content2{float:left; width: 100%; height: 60px;margin-top:20px}
					#backuptext1{float:left; width:56%; height: 50px; margin-left: 8%; }
					#backuptext2{float:left; width:37%; height: 50px; margin-left: 8%; }	
					#cont{float:left;	width: 100%; height: 50px; margin-top:2%}
					#cont1{float:left; width: 25%; height: 100%;margin-left:8%}
					#cont2{float:left; width: 30%; height: 60%;margin-top:20px}
					#cont3{float:left; width: 20%; height: 100%; margin-bottom: 20px}
					#errorLabel{float:left; width: 60%; height: 40px; margin-left: 8%; color:red}
					#btnbackup{background-color: darkblue ; border: none; color: white; padding: 5px 18px; text-align: center; text-decoration: none; 
									display: inline-block; font-size: 10px; margin: 20px; padding-right: 25px; cursor: pointer; border-radius: 4px}

					
		#footer {float:left; width: 100%; height: 100px; background-color: darkblue; position: static}
			#univerfooter{float:left; width:30%; height:100%; color:white;margin-left:60px}
			#linkfooter{float:left; width:60%; height:100%; margin-top:25px; color:white}
				#linkfooter>a{color:white; text-decoration:none; margin-right:10px}




